@font-face {
  font-family: "Gordita";
  src: url(../fonts/Gordita_font/Type\ Atelier\ -\ Gordita.otf);
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gordita";
  background-color: #1b39ca;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .Grid-container {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
}
.Grid-container header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #1b39ca;
  z-index: 1;
}
.Grid-container header .Header-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 0.5rem;
}
.Grid-container header .Header-inner .logo {
  width: 20%;
}
.Grid-container header .Header-inner .languages-buttons {
  display: flex;
  align-items: center;
}
.Grid-container header .Header-inner .languages-buttons a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin: 0rem 1rem;
}
.Grid-container header .nav-bar {
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .Grid-container header {
    grid-column: 1/9;
  }
  .Grid-container header .Header-inner {
    width: 100%;
    padding: 1rem;
  }
  .Grid-container header .Header-inner .logo {
    width: 10%;
  }
  .Grid-container header .Header-inner .languages-buttons {
    display: flex;
    align-items: center;
  }
  .Grid-container header .Header-inner .languages-buttons a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 0rem 1rem;
  }
  .Grid-container header .nav-bar {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    width: 100%;
    padding: 0.5rem;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .Grid-container header {
    grid-column: 2/12;
  }
}
.Grid-container main {
  position: relative;
  top: 100px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .Grid-container main {
    grid-column: 2/8;
    top: 5px;
  }
}
@media screen and (min-width: 1024px) {
  .Grid-container main {
    grid-column: 2/12;
    top: 45px;
  }
}
.Grid-container main .Inner-main {
  width: 100%;
}
.Grid-container main .Inner-main .welcome-message {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.Grid-container main .Inner-main .welcome-message .hero-text {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Grid-container main .Inner-main .welcome-message .hero-text h1 {
  font-size: 34px;
}
.Grid-container main .Inner-main .welcome-message img {
  width: 100%;
}
.Grid-container main .Inner-main .image-heart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}
.Grid-container main .Inner-main .image-heart #heart {
  width: 100%;
}
.Grid-container main .Inner-main .image-heart h2 {
  font-size: 28px;
  margin: 40px;
}
.Grid-container main .Inner-main .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Grid-container main .Inner-main .content .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.Grid-container main .Inner-main .content .container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.Grid-container main .Inner-main .content .container div .girl, .Grid-container main .Inner-main .content .container div .students {
  width: 80%;
  margin-top: 2rem;
}
.Grid-container main .Inner-main .content .container div .boy, .Grid-container main .Inner-main .content .container div .women {
  width: 50%;
  margin-top: 3rem;
}
.Grid-container main .Inner-main .content .container div h2 {
  font-size: 28px;
}
.Grid-container main .Inner-main .content .container div h3 {
  text-align: center;
  font-size: 18px;
}
.Grid-container main .Inner-main .content .container div h4 {
  font-size: 18px;
  margin-top: 3rem;
}
.Grid-container main .Inner-main .content .container div p {
  padding: 1rem;
  font-size: 18px;
  line-height: 1.5rem;
}
.Grid-container main .Inner-main .content .container div a {
  text-decoration: none;
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  margin: 3rem 0;
  color: whitesmoke;
  font-size: 20px;
}
.Grid-container main .Inner-main .content .container div ul {
  padding: 1rem;
  list-style: none;
}
.Grid-container main .Inner-main .content .container div ul li {
  font-size: 0.8rem;
  margin: 1rem 0;
}
.Grid-container main .Inner-main .Ukrain-love {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Grid-container main .Inner-main .Ukrain-love .heart {
  width: 8%;
}
.Grid-container main .Inner-main .creators {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem 0;
}
.Grid-container main .Inner-main .creators h3 {
  font-size: 1.5rem;
}
.Grid-container main .Inner-main .creators div {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.Grid-container main .Inner-main .creators div .unicorn {
  width: 50%;
}
.Grid-container main .Inner-main .creators div ul {
  list-style: none;
}
.Grid-container main .Inner-main .creators div ul li {
  font-size: 0.7rem;
  margin: 0.2rem;
}
@media screen and (min-width: 768px) {
  .Grid-container main .Inner-main .welcome-message {
    height: 80vh;
  }
  .Grid-container main .Inner-main .welcome-message .hero-text {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Grid-container main .Inner-main .welcome-message .hero-text h1 {
    font-size: 4rem;
  }
  .Grid-container main .Inner-main .image-heart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
  }
  .Grid-container main .Inner-main .image-heart #heart {
    width: 100%;
  }
  .Grid-container main .Inner-main .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Grid-container main .Inner-main .content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
  }
  .Grid-container main .Inner-main .content .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .Grid-container main .Inner-main .content .container div .girl, .Grid-container main .Inner-main .content .container div .students {
    width: 80%;
    margin-top: 2rem;
  }
  .Grid-container main .Inner-main .content .container div .boy, .Grid-container main .Inner-main .content .container div .women {
    width: 45%;
    margin-top: 3rem;
  }
  .Grid-container main .Inner-main .content .container div .boy {
    width: 30%;
  }
  .Grid-container main .Inner-main .content .container div h2 {
    font-size: 3rem;
    margin: 5rem 0;
  }
  .Grid-container main .Inner-main .content .container div h3 {
    text-align: none;
    font-size: 2rem;
    margin: 0rem 0;
  }
  .Grid-container main .Inner-main .content .container div h4 {
    font-size: 1.5rem;
    margin-top: 4rem;
  }
  .Grid-container main .Inner-main .content .container div p {
    padding: 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .Grid-container main .Inner-main .content .container div a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1rem;
    margin: 3rem 0;
  }
  .Grid-container main .Inner-main .content .container div ul {
    padding: 1rem;
    list-style: none;
  }
  .Grid-container main .Inner-main .content .container div ul li {
    font-size: 0.8rem;
    margin: 1rem 0;
  }
  .Grid-container main .Inner-main .content .Ukrain-love {
    width: 100%;
  }
  .Grid-container main .Inner-main .content .Ukrain-love .heart {
    width: 10%;
  }
  .Grid-container main .Inner-main .content a {
    color: whitesmoke;
  }
  .Grid-container main .Inner-main .creators {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Grid-container main .Inner-main .creators h3 {
    font-size: 1.5rem;
  }
  .Grid-container main .Inner-main .creators div {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  .Grid-container main .Inner-main .creators div .unicorn {
    width: 50%;
  }
  .Grid-container main .Inner-main .creators div ul {
    list-style: none;
  }
  .Grid-container main .Inner-main .creators div ul li {
    font-size: 0.8rem;
    margin: 0.2rem;
  }
}
@media screen and (min-width: 1024px) {
  .Grid-container main .Inner-main .welcome-message {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
  .Grid-container main .Inner-main .welcome-message .hero-text {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
  }
  .Grid-container main .Inner-main .welcome-message .hero-text h1 {
    font-size: 42px;
  }
  .Grid-container main .Inner-main .welcome-message img {
    width: 20%;
  }
  .Grid-container main .Inner-main .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .Grid-container main .Inner-main .content .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0;
  }
  .Grid-container main .Inner-main .content .container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .Grid-container main .Inner-main .content .container div .girl, .Grid-container main .Inner-main .content .container div .students {
    width: 50%;
    margin-top: 2rem;
  }
  .Grid-container main .Inner-main .content .container div .boy, .Grid-container main .Inner-main .content .container div .women {
    width: 30%;
    margin-top: 3rem;
  }
  .Grid-container main .Inner-main .content .container div .heart {
    width: 50%;
    margin: 4rem 0;
  }
  .Grid-container main .Inner-main .content .container div .boy {
    width: 30%;
  }
  .Grid-container main .Inner-main .content .container div h1 {
    font-size: 42px;
  }
  .Grid-container main .Inner-main .content .container div h2 {
    font-size: 36px;
  }
  .Grid-container main .Inner-main .content .container div h3 {
    text-align: center;
    font-size: 20px;
  }
  .Grid-container main .Inner-main .content .container div h4 {
    font-size: 20px;
    margin-top: 10rem;
    margin-bottom: 3rem;
  }
  .Grid-container main .Inner-main .content .container div p {
    padding: 0.5rem;
    font-size: 18px;
    line-height: 3.25rem;
  }
  .Grid-container main .Inner-main .content .container div a {
    text-decoration: none;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 1rem;
    margin: 3rem 0;
    color: whitesmoke;
  }
  .Grid-container main .Inner-main .content .container div ul {
    padding: 1rem;
    list-style: none;
  }
  .Grid-container main .Inner-main .content .container div ul li {
    font-size: 18px;
    margin: 1rem 0;
  }
  .Grid-container main .Inner-main .content .Ukrain-love {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .Grid-container main .Inner-main .content .Ukrain-love .heart {
    width: 8%;
  }
  .Grid-container main .Inner-main .creators {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
  }
  .Grid-container main .Inner-main .creators h3 {
    font-size: 1.5rem;
  }
  .Grid-container main .Inner-main .creators div {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  .Grid-container main .Inner-main .creators div .unicorn {
    width: 50%;
  }
  .Grid-container main .Inner-main .creators div ul {
    list-style: none;
  }
  .Grid-container main .Inner-main .creators div ul li {
    font-size: 0.7rem;
    margin: 0.2rem;
  }
}
.Grid-container footer ul {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 10px;
}

/*# sourceMappingURL=style.css.map */
