@font-face {
  font-family: "Gordita";
  src: url(../fonts/Gordita_font/Type\ Atelier\ -\ Gordita.otf);
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gordita";
  background-color: #1b39ca;
  color: white;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* Intro animation (expanding circle rainbow) shown when entering the page */
#awesomecool-rainbow-explosion-intro-animation-box {
  background: #ffffff;
  z-index: 9999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes brainbow-splosion-bg {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#awesomecool-rainbow-explosion-intro-animation-box svg {
  width: 100px;
}
@keyframes brainbow-splosion {
  0% {
    opacity: 1;
    width: 100px;
  }
  80% {
    opacity: 1;
    width: 150vh;
  }
  100% {
    opacity: 0;
    width: 600vh;
  }
}
#awesomecool-rainbow-explosion-intro-animation-box.intro {
  animation: brainbow-splosion-bg 2.2s;
  animation-fill-mode: forwards;
}
#awesomecool-rainbow-explosion-intro-animation-box.intro svg {
  animation: brainbow-splosion 2.2s;
  animation-fill-mode: forwards;
}

/* Main content */
.Grid-container {
  background-color: #1b39ca;
}
.Grid-container header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #1b39ca;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 2rem;
}
.Grid-container header .languages-buttons {
  display: flex;
  align-items: center;
}
.Grid-container header .languages-buttons a {
  font-size: 1.5rem;
}
.Grid-container header .languages-buttons span {
  margin: 0rem 1rem;
}
.Grid-container header .logo {
  width: 30%;
}
.Grid-container main {
  position: relative;
  top: 30px;
  /* animated Don't Hate text */
  /* rainbow to encourage viewer to scroll */
}
.Grid-container main .hero-text {
  height: 64vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Grid-container main .hero-text h1 {
  font-size: 50px;
}
.Grid-container main .hero-img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
  padding: 2rem;
}
.Grid-container main .hero-img-wrapper #hero-img {
  width: 100%;
}
.Grid-container main .content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 2rem;
}
.Grid-container main .content-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 0;
}
.Grid-container main .content-container section .girl,
.Grid-container main .content-container section .students {
  width: 80%;
  margin-top: 2rem;
}
.Grid-container main .content-container section .boy,
.Grid-container main .content-container section .women {
  width: 50%;
  margin-top: 3rem;
}
.Grid-container main .content-container section h2 {
  font-size: 40px;
}
.Grid-container main .content-container section h3 {
  margin-bottom: 1rem;
  text-align: center;
}
.Grid-container main .content-container section h4 {
  font-size: 18px;
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
.Grid-container main .content-container section p {
  font-size: 1em;
  text-align: justify;
  line-height: 1.5rem;
}
.Grid-container main .content-container section ul {
  padding: 1rem;
  list-style: none;
}
.Grid-container main .content-container section ul li {
  font-size: 0.8rem;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.Grid-container main .content-container section ul li .icons {
  width: 5%;
  margin-right: 10px;
}
.Grid-container main .content-container section a {
  border: 1px solid whitesmoke;
  border-radius: 10px;
  padding: 1rem;
  margin: 3rem 0;
  font-size: 20px;
}
.Grid-container main .content-container section a:hover, .Grid-container main .content-container section a:active {
  box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
}
.Grid-container main .creators {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
}
.Grid-container main .creators h3 {
  text-align: center;
  opacity: 0;
  font-size: 1.5rem;
  padding: 0 2rem;
  transform: translateY(100px);
  transition: opacity 1s ease, transform 1s ease;
}
.Grid-container main .creators .h3-visible {
  opacity: 1;
  transform: translateX(0);
}
.Grid-container main .creators div {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}
.Grid-container main .creators div .unicorn {
  width: 50%;
}
.Grid-container main .creators div ul {
  list-style: none;
}
.Grid-container main .creators div ul li {
  font-size: 0.8rem;
  margin: 0.2rem;
}
.Grid-container main .creators div ul li a:hover {
  text-decoration: underline;
}
.Grid-container main .creators div ul li a:visited, .Grid-container main .creators div ul li a:active {
  color: white;
}
@media screen and (min-width: 768px) {
  .Grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5rem;
  }
  .Grid-container header,
.Grid-container main {
    grid-column: 1/9;
  }
  .Grid-container header .logo,
.Grid-container main .logo {
    width: 40%;
  }
  .Grid-container main > .hero-text {
    height: 50vh;
  }
  .Grid-container #girl,
.Grid-container #students {
    width: 50%;
  }
  .Grid-container #woman {
    width: 30%;
  }
  .Grid-container #boy {
    width: 25%;
  }
}
@media screen and (min-width: 1024px) {
  .Grid-container {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }
  .Grid-container header,
.Grid-container main {
    grid-column: 2/12;
  }
}

/* Rainbow color code hearts */
.tag-hearts > span:nth-of-type(n + 12) {
  display: none;
}
@media screen and (min-width: 768px) {
  .tag-hearts > span:nth-of-type(n + 12) {
    display: inline-block;
  }
  .tag-hearts > span:nth-of-type(n + 18) {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .tag-hearts > span:nth-of-type(n + 12) {
    display: inline-block;
  }
  .tag-hearts > span:nth-of-type(n + 18) {
    display: inline-block;
  }
}
.tag-hearts .heart-red {
  color: #e50000;
}
.tag-hearts .heart-orange {
  color: #ff8d00;
}
.tag-hearts .heart-yellow {
  color: #ffee00;
}
.tag-hearts .heart-green {
  color: #028121;
}
.tag-hearts .heart-blue {
  color: #004cff;
}
.tag-hearts .heart-purple {
  color: #760088;
}
.tag-hearts .heart-black {
  color: #000000;
}
.tag-hearts .heart-brown {
  color: #613915;
}
.tag-hearts .heart-aqua {
  color: #5bcffb;
}
.tag-hearts .heart-pink {
  color: #ffafc7;
}
.tag-hearts .heart-white {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
