@font-face {
  font-family: "Gordita";
  src: url(../fonts/Gordita_font/Type\ Atelier\ -\ Gordita.otf);
}

$font-principal: "Gordita";

@font-face {
  font-family: dciicons;
  src: url(../fonts/dciicons.eot);
  src: url(../fonts/dciicons.eot) format("embedded-opentype"),
    url(../fonts/dciicons.woff2) format("woff2"),
    url(../fonts/dciicons.woff) format("woff"),
    url(../fonts/dciicons.ttf) format("truetype"),
    url(../fonts/dciicons.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
.dci-icon {
  display: inline-block;
  font: normal normal normal 1em/1 "dciicons";
  color: inherit;
  flex-shrink: 0;
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
  margin-right: 10px;
}
.dci-icon--icon-x::before {
  content: "\ea02";
}
.dci-icon--icon-two-persons::before {
  content: "\ea03";
}
.dci-icon--icon-two-person::before {
  content: "\ea04";
}
.dci-icon--icon-two-lines::before {
  content: "\ea05";
}
.dci-icon--icon-three-persons::before {
  content: "\ea06";
}
.dci-icon--icon-squares::before {
  content: "\ea07";
}
.dci-icon--icon-speaker::before {
  content: "\ea08";
}
.dci-icon--icon-shaking-hands::before {
  content: "\ea09";
}
.dci-icon--icon-shaking-hands-2::before {
  content: "\ea0a";
}
.dci-icon--icon-round-arrows::before {
  content: "\ea0b";
}
.dci-icon--icon-rocket::before {
  content: "\ea0c";
}
.dci-icon--icon-rectangle::before {
  content: "\ea0d";
}
.dci-icon--icon-question-mark::before {
  content: "\ea0e";
}
.dci-icon--icon-plus::before {
  content: "\ea0f";
}
.dci-icon--icon-phone::before {
  content: "\ea10";
}
.dci-icon--icon-person::before {
  content: "\ea11";
}
.dci-icon--icon-location::before {
  content: "\ea12";
}
.dci-icon--icon-lightbulb::before {
  content: "\ea13";
}
.dci-icon--icon-letter::before {
  content: "\ea14";
}
.dci-icon--icon-language::before {
  content: "\ea15";
}
.dci-icon--icon-js::before {
  content: "\ea16";
}
.dci-icon--icon-internet::before {
  content: "\ea17";
}
.dci-icon--icon-information::before {
  content: "\ea18";
}
.dci-icon--icon-house-block::before {
  content: "\ea19";
}
.dci-icon--icon-heart::before {
  content: "\ea1a";
}
.dci-icon--Icon-Eurozeichen::before {
  content: "\ea1b";
}
.dci-icon--icon-euro::before {
  content: "\ea1c";
}
.dci-icon--Icon-Educationhut::before {
  content: "\ea1d";
}
.dci-icon--Icon-Dokument::before {
  content: "\ea1e";
}
.dci-icon--Icon-desktop::before {
  content: "\ea1f";
}
.dci-icon--Icon-code::before {
  content: "\ea20";
}
.dci-icon--icon-cloud::before {
  content: "\ea21";
}
.dci-icon--icon-chop::before {
  content: "\ea22";
}
.dci-icon--icon-checklist::before {
  content: "\ea23";
}
.dci-icon--icon-calendar::before {
  content: "\ea24";
}
.dci-icon--icon-branches::before {
  content: "\ea25";
}
.dci-icon--icon-house::before {
  content: "\ea26";
}
.dci-icon--icon-linkedin::before {
  content: "\ea27";
}
.dci-icon--icon-insta::before {
  content: "\ea28";
}
.dci-icon--icon-github::before {
  content: "\ea29";
}
.dci-icon--icon-facebook::before {
  content: "\ea2a";
}
.dci-icon--icon-insert-link::before {
  content: "\ea2b";
}
.dci-icon--icon-search::before {
  content: "\ea2c";
}
.dci-icon--icon-triangle-down::before {
  content: "\ea2d";
}
.dci-icon--icon-triangle-up::before {
  content: "\ea2e";
}
.dci-icon--icon-java::before {
  content: "\ea2f";
}
.dci-icon--icon-ict::before {
  content: "\ea30";
}
.dci-icon--icon-hand-holding-man::before {
  content: "\ea31";
}
