@import "./var";
@import "./fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

// Body
body {
  font-family: $font-principal;
  background-color: $background-color;
  color: $text-color;
}

// Header
header {
  height: 12vh;
  width: 95vw;
  position: fixed;
  background-color: $background-color;
  .logo {
    width: 6vw;
    height: 6vh;
    margin-top: 10px;
    margin-left: 30px;
  }
  nav {
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .pages-links {
      width: 20rem;
      display: flex;
      justify-content: space-evenly;
      font-size: 18px;
    }
  }
}

// Main
main {
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  .welcome-message {
    font-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-heart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    #heart {
      width: 50%;
    }
    h2 {
      margin: 40px;
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
  }
  .first-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin: 40px 130px 40px 130px;
    }
    h4 {
      margin: 40px;
    }
  }
  .second-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .student-laptop {
     width: 100%;
    }
    h2 {
      margin: 40px;
    }
    p {
      margin: 40px 130px 40px 130px;
    }
  }
  .third-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    .people {
      width: 100%;
     }
    h2 {
      margin: 40px;
    }
    p {
      margin: 40px 130px 40px 130px;
    }
    h4 {
      margin: 20px;
    }
  }
  a {
    color: black;
  }

  .creators {
    h3 {
      margin: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    ul {
      font-weight: bolder;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      margin: 10px;
    }
  }
}

// Footer
