@import "./var";
@import "./fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-principal;
  background-color: $background-color;
  color: white;
}

/* General layout styles */

a {
  text-decoration: none;
  color: $image-text-color;
}

p {
  margin: 2rem 1.5rem 0 1.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

h1, h2, h3, h4 { text-align: center; margin: 2rem 1.5rem 0 1.5rem; }

ul { margin: 1.5rem; padding: 0; list-style-type: none; }

.button {
  display: block;
  text-align: center;
  width: fit-content;
  border: 1px solid $image-text-color;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 2rem auto;
  font-size: 20px;

  &:hover,
  &:active {
    box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
  }
}

/* Intro animation (expanding circle rainbow) shown when entering the page */
#awesomecool-rainbow-explosion-intro-animation-box {
  background: #ffffff;
  z-index: 2;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @keyframes brainbow-splosion-bg {
    0% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  svg {
    position: relative;
    right: 0vw;
    left: 0vw;
    top: 0vh;

    @keyframes brainbow-splosion {
      0% {
        opacity: 1;
        width: 5vw;
        left: 0vw;
        top: 0vh;
      }
      80% {
        opacity: 1;
        width: 100vw;
        left: 0vw;
        top: 0vh;
      }
      100% {
        opacity: 0.5;
        width: 500vw;
        left: -200vw;
        top: -100vw;
      }
    }
  }

  // Trigger intro animations class is inserted by JavaScript
  &.intro {
    animation: brainbow-splosion-bg 2.2s;
    animation-fill-mode: forwards;

    svg {
      animation: brainbow-splosion 2.2s;
      animation-fill-mode: forwards;
    }
  }
}

/* Main layout rules */
.Grid-container {
  max-width: 1024px; /* Helps make page look better on BIG screens, also gives max image size */
  min-width: 320px; /* Avoid content smushing with very small windows */
  margin: 0 auto;
  background-color: $background-color;

  header {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 2rem;

    .logo { width: 30%; }

    .languages-buttons {
      display: flex;
      align-items: center;
      font-size: 1.5rem;

      a {
        margin: 0rem 1rem;
      }
    }
  }
}

/* Having this outside the main container is a micro-optimization */
main {
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero-text {
    height: 60vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  #heart {
    width: 100%;
    max-width: 87vw;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;

    .girl,
    .students {
      width: 80%;
      margin-top: 2rem;
    }
    .boy,
    .women {
      width: 50%;
      margin-top: 3rem;
    }

    li {
      margin: 1rem 0;
      display: flex;
      align-items: center;
    }
  }

  .creators {
    h3 {
      opacity: 0;
      transform: translateY(100px);
      transition: opacity 1s ease, transform 1s ease;
    }

    .h3-visible {
      opacity: 1;
      transform: translateX(0);
    }

    div {
      margin: 2rem 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .unicorn {
        width: 40%;
      }

      a {
        &:hover { text-decoration: underline; }
      }
    }
  }

  @media screen and(min-width:768px) {
    .container {
      .boy,
      .women {
        width: 45%;
        margin-top: 3rem;
      }

      .boy {
        width: 30%;
      }
    }
  }

  @media screen and(min-width:1024px) {
    .container {
      .girl,
      .students {
        width: 50%;
      }

      .boy,
      .women {
        width: 30%;
        margin-top: 3rem;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 2rem 2rem;
  font-size: 10px;

  a,
  a:active,
  a:visited {
    color: white;
  }

  a:hover {
    text-decoration: underline;
  }

  .footer-right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      justify-content: space-between;
      img {
        width: 30px;
        height: 30px;
        filter: invert(100%) sepia(14%) saturate(7500%) hue-rotate(197deg) brightness(114%) contrast(117%);
      }
      .instagram {
        border: 1px solid #ffffff00;
        margin: 0 1em;
      }
    }
  }
}
/* Rainbow color code hearts */
.tag-hearts {
  margin: 2rem 0;
  text-align: center;
  > i { font-style: normal; }
  > i::before { content: '<3' }

  > i:nth-of-type(n + 12) {
    display: none;
  }

  @media screen and(min-width:768px) {
    > i:nth-of-type(n + 12) {
      display: inline-block;
    }
    > i:nth-of-type(n + 23) {
      display: none;
    }
  }

  @media screen and(min-width:1024px) {
    > i:nth-of-type(n + 12) {
      display: inline-block;
    }
  }

  .h-red {
    color: #e50000;
  }

  .h-orange {
    color: #ff8d00;
  }

  .h-yellow {
    color: #ffee00;
  }

  .h-green {
    color: #028121;
  }

  .h-blue {
    color: #004cff;
  }

  .h-purple {
    color: #760088;
  }

  .h-black {
    color: #000000;
  }

  .h-brown {
    color: #613915;
  }

  .h-aqua {
    color: #5bcffb;
  }

  .h-pink {
    color: #ffafc7;
  }

  .h-white {
    color: #ffffff;
  }
}
