@import "./var";
@import "./fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-principal;
  background-color: $background-color;
  color: white;
}

a {
  text-decoration: none;
  color: $image-text-color;
}

/* Intro animation (expanding circle rainbow) shown when entering the page */
#awesomecool-rainbow-explosion-intro-animation-box {
  background: #ffffff url(/images/circle-rainbow.svg) center no-repeat;
  background-size: 100px;
  z-index: 9999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  animation: brainbow-splosion 2.2s;
  animation-fill-mode: forwards;
  pointer-events: none;

  @keyframes brainbow-splosion {
    0% {
      opacity: 1;
      background-size: 100px;
    }
    80% {
      opacity: 1;
      background-size: 150vh;
    }
    100% {
      opacity: 0;
      background-size: 600vh;
    }
  }
}

/* Main content */
.Grid-container {
  background-color: $background-color;

  @media screen and(min-width:768px) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 1.5rem;
  }

  @media screen and(min-width:1024px) {
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
  }

  header {
    position: sticky;
    top: 0;
    background-color: $background-color;
    z-index: 1;

    .Header-inner {
      display: flex;
      justify-content: space-between;
      align-content: center;
      padding: 2rem;

      .logo {
        // 20% without link
        width: 30%;
      }

      .languages-buttons {
        display: flex;
        align-items: center;

        a {
          font-size: 1.5rem;
          margin: 0rem 1rem;
        }
      }
    }

    @media screen and(min-width:768px) {
      grid-column: 1/9;

      .Header-inner {
        .logo {
          // 10% without link
          width: 40%;
        }

        .languages-buttons {
          display: flex;
          align-items: center;

          a {
            font-size: 1.5rem;
            margin: 0rem 1rem;
          }
        }
      }
    }

    @media screen and(min-width:1024px) {
      grid-column: 2/12;
    }
  }

  main {
    position: relative;
    top: 30px;

    @media screen and(min-width:768px) {
      grid-column: 2/8;
      top: 5px;
    }

    @media screen and(min-width:1024px) {
      grid-column: 2/12;
      top: 4 5px;
    }

    .welcome-message {
      height: 70vh;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      align-items: center;

      .hero-text {
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
          font-size: 50px;
        }
      }
    }

    .image-heart {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 32px;
      padding: 2rem;

      #heart {
        width: 100%;
      }

      h2 {
        font-size: 28px;
        margin: 40px;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 0;

        div {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 1rem;

          .girl,
          .students {
            width: 80%;
            margin-top: 2rem;
          }
          .boy,
          .women {
            width: 50%;
            margin-top: 3rem;
          }

          h1 {
            font-size: 40px;
          }

          h2 {
            font-size: 28px;
          }

          h3 {
            text-align: center;
            font-size: 18px;
            margin-bottom: 1rem;
          }

          h4 {
            font-size: 18px;
            margin-top: 3rem;
            margin-left: 1rem;
          }

          p {
            padding: 1rem;
            font-size: 18px;
            line-height: 1.5rem;
          }

          a {
            border: 1px solid $image-text-color;
            border-radius: 10px;
            padding: 1rem;
            margin: 3rem 0;
            font-size: 20px;

            &:hover,
            &:active {
              box-shadow: 0 0 8px 5px rgba(255, 255, 255, 0.5);
            }
          }

          ul {
            padding: 1rem;
            list-style: none;

            li {
              font-size: 0.8rem;
              margin: 1rem 0;
              display: flex;
              align-items: center;
              .icons {
                width: 5%;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    .creators {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem 0;

      h3 {
        opacity: 0;
        font-size: 1.5rem;
        transform: translateY(100px);
        transition: opacity 1s ease, transform 1s ease;
      }

      .h3-visible {
        opacity: 1;
        transform: translateX(0);
      }

      div {
        margin-top: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;

        .unicorn {
          width: 50%;
        }

        ul {
          list-style: none;

          li {
            font-size: 0.8rem;
            margin: 0.2rem;
            a {
              &:hover { text-decoration: underline; }
              &:visited, &:active {
                color: white;
              }
            }
          }
        }
      }
    }

    @media screen and(min-width:768px) {
      .welcome-message {
        .hero-text {
          height: 300px;
        }
      }

      .content {
        .container {
          margin: 5rem 0;

          div {
            .boy,
            .women {
              width: 45%;
              margin-top: 3rem;
            }

            .boy {
              width: 30%;
            }

            h2 {
              font-size: 3rem;
              margin: 5rem 0;
            }

            h3 {
              text-align: none;
              font-size: 2rem;
              margin: 0rem 0;
            }

            h4 {
              font-size: 1.5rem;
              margin-top: 4rem;
            }

            p {
              padding: 3rem;
              font-size: 1rem;
              line-height: 1.5rem;
            }
          }
        }
      }
    }

    @media screen and(min-width:1024px) {
      .welcome-message {
        height: 80vh;

        .hero-text {
          height: 200px;
          font-size: 2.5rem;
        }

        img {
          width: 20%;
        }
      }

      .content {
        .container {
          margin: 3rem 0;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 1rem;

            .girl,
            .students {
              width: 50%;
              margin-top: 2rem;
            }
            .boy,
            .women {
              width: 30%;
              margin-top: 3rem;
            }

            .heart {
              width: 50%;
              margin: 4rem 0;
            }

            .boy {
              width: 30%;
            }

            h1 {
              font-size: 42px;
            }

            h2 {
              font-size: 36px;
            }

            h3 {
              text-align: center;
              font-size: 20px;
            }

            h4 {
              font-size: 20px;
              margin-top: 10rem;
              margin-bottom: 3rem;
            }

            p {
              padding: 0.5rem;
              font-size: 18px;
            }

            a {
              border: 1px solid $image-text-color;
              border-radius: 10px;
              padding: 1rem;
              margin: 3rem 0;
            }

            ul {
              padding: 1rem;
              list-style: none;

              li {
                font-size: 18px;
                margin: 1rem 0;
                display: flex;
                align-items: center;
                // This doesn't seem to target
                // - It does :) -Joel
                .icons {
                  width: 2%;
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Rainbow color code hearts */
.tag-hearts {
  > span:nth-of-type(n+12) { display: none; }

  @media screen and(min-width:768px) {
    > span:nth-of-type(n+12) { display: inline-block; }
    > span:nth-of-type(n+18) { display: none; }
  }

  @media screen and(min-width:1024px) {
    > span:nth-of-type(n+12) { display: inline-block; }
    > span:nth-of-type(n+18) { display: inline-block; }
  }

  .heart-red {
    color: #e50000;
  }

  .heart-orange {
    color: #ff8d00;
  }

  .heart-yellow {
    color: #ffee00;
  }

  .heart-green {
    color: #028121;
  }

  .heart-blue {
    color: #004cff;
  }

  .heart-purple {
    color: #760088;
  }
  .heart-black {
    color: #000000;
  }

  .heart-brown {
    color: #613915;
  }

  .heart-aqua {
    color: #5bcffb;
  }

  .heart-pink {
    color: #ffafc7;
  }

  .heart-white {
    color: #FFFFFF;
  }
}