// Variables

// Fonts
@font-face {
    font-family: 'Gordita';
    src: url(../fonts/Gordita_font/Type\ Atelier\ -\ Gordita.otf);
}

$font-family-base: 'Gordita', Arial, Helvetica, sans-serif;


// Colors
$text-color: #ffff;
$background-color: #1B39CA;
$second-background-color: #F4F5F7;  